//$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

//@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";



  .login-page-container {
     background: url('../images/libraryImg3.jpg');
     background-size: 100% 100%;
     background-repeat: no-repeat;
     //width:1280px;
     //height:100%;
     height: 923px;
       
      .form-container{
        position: relative;
        top: 25%;

      .form{
        border: 1px solid #bbb;
        border-radius: 3px;
        background-color: white;
         }
      }
  }

  .close{
  cursor:pointer;
  }

  .fa-remove:before, .fa-close:before, .fa-times:before{
  float:right;
  }
  .create-account{
  text-align:center;
  cursor:pointer;
  }

  md-dialog md-dialog-content{
  padding: 0px 24px;
  }

  .md-toolbar-tools > .md-button:last-child {
  margin-right: 25px;
}
  