<div class="login-page-container">
  <div class="form-container" layout="row" >
      <form class="form" name="userForm" layout="column" layout-padding flex="50" flex offset="25">
        <i class="fa fa-remove close"
               data-dismiss="modal"
               ng-click="$parent.$close()">
            </i>
        <md-input-container>
          <label>User Name</label>
            <input name="lastName" ng-model="lastName" required >
              <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
                <div ng-message="required">This is required!</div>
              </div>
        </md-input-container>

        <md-input-container>
          <label>Password</label>
            <input name="bio" ng-model="biography" required >
              <div ng-messages="userForm.bio.$error" ng-show="userForm.bio.$dirty">
                <div ng-message="required">This is required!</div>
              </div>
        </md-input-container>


        <md-input-container>
          <label>Confirm Your Password</label>
          <input placeholder="title" ng-model="title">
        </md-input-container>

        <md-button class="md-raised md-primary"> Sign In </md-button>

      </form>
  </div>
</div>
